USE [master]
GO
/****** Object:  Database [resevervation.Models.HotelContext]    Script Date: 6/18/2019 4:19:04 PM ******/
CREATE DATABASE [resevervation.Models.HotelContext]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'resevervation.Models.HotelContext', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\resevervation.Models.HotelContext.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'resevervation.Models.HotelContext_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\resevervation.Models.HotelContext_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [resevervation.Models.HotelContext].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [resevervation.Models.HotelContext]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/18/2019 4:19:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BookingRooms]    Script Date: 6/18/2019 4:19:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingRooms](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[RoomID] [int] NOT NULL,
	[BookedDateFR] [datetime] NOT NULL,
	[BookedDateTO] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.BookingRooms] PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 6/18/2019 4:19:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[RoomNo] [nvarchar](max) NOT NULL,
	[RoomTypeID] [int] NULL,
 CONSTRAINT [PK_dbo.Rooms] PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RoomTypes]    Script Date: 6/18/2019 4:19:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomTypes](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_dbo.RoomTypes] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BookingRooms] ON 

INSERT [dbo].[BookingRooms] ([BookingID], [RoomID], [BookedDateFR], [BookedDateTO]) VALUES (2, 5, CAST(N'2019-06-12 00:00:00.000' AS DateTime), CAST(N'2019-06-20 00:00:00.000' AS DateTime))
INSERT [dbo].[BookingRooms] ([BookingID], [RoomID], [BookedDateFR], [BookedDateTO]) VALUES (10, 1, CAST(N'2019-06-04 00:00:00.000' AS DateTime), CAST(N'2019-06-06 00:00:00.000' AS DateTime))
INSERT [dbo].[BookingRooms] ([BookingID], [RoomID], [BookedDateFR], [BookedDateTO]) VALUES (12, 11, CAST(N'2019-06-28 00:00:00.000' AS DateTime), CAST(N'2019-06-29 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[BookingRooms] OFF
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([RoomID], [RoomNo], [RoomTypeID]) VALUES (1, N'100', 4)
INSERT [dbo].[Rooms] ([RoomID], [RoomNo], [RoomTypeID]) VALUES (2, N'200', 4)
INSERT [dbo].[Rooms] ([RoomID], [RoomNo], [RoomTypeID]) VALUES (3, N'300', 4)
SET IDENTITY_INSERT [dbo].[Rooms] OFF
SET IDENTITY_INSERT [dbo].[RoomTypes] ON 

INSERT [dbo].[RoomTypes] ([TypeID], [Type], [Price]) VALUES (1, N'Normal', 600)
INSERT [dbo].[RoomTypes] ([TypeID], [Type], [Price]) VALUES (2, N'Suite', 1200)
INSERT [dbo].[RoomTypes] ([TypeID], [Type], [Price]) VALUES (3, N'Family', 1800)
SET IDENTITY_INSERT [dbo].[RoomTypes] OFF
/****** Object:  Index [IX_RoomID]    Script Date: 6/18/2019 4:19:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoomID] ON [dbo].[BookingRooms]
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoomTypeID]    Script Date: 6/18/2019 4:19:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoomTypeID] ON [dbo].[Rooms]
(
	[RoomTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BookingRooms]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BookingRooms_dbo.Rooms_RoomID] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Rooms] ([RoomID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookingRooms] CHECK CONSTRAINT [FK_dbo.BookingRooms_dbo.Rooms_RoomID]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Rooms_dbo.RoomTypes_RoomTypeID] FOREIGN KEY([RoomTypeID])
REFERENCES [dbo].[RoomTypes] ([TypeID])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_dbo.Rooms_dbo.RoomTypes_RoomTypeID]
GO
USE [master]
GO
